<h1>{{title}}</h1>
<table>
  <tr>
    <th>Name</th>
    <th>Receiver</th>
    <th>Delivered</th>
    <th></th>
  </tr>
  <tr *ngFor="let gift of gifts; let i = index;">
    <td [style.text-decoration]="gift.delivered ? 'line-through' : ''" >{{gift.name}}</td>
    <td [style.text-decoration]="gift.delivered ? 'line-through' : ''" >{{gift.receiver}}</td>
    <td><input type="checkbox" [(ngModel)]="gift.delivered" /></td>
    <td><button (click)="deleteGift(i)">Naughty?</button></td>
    <td><button (click)="editGift(gift)">Edit</button></td>
  </tr>
</table>
<gift-detail [gift]="currentGift"></gift-detail>
